.background-shapes__4ae3fd3b0e6506c0f1bb9c8046ba291a {
    align-self: end;
    grid-area: bottomleft;
    height: 156px;
    transform: translate(-180px, -8px);
    width: 440px;
}

@media only screen and (min-width:600px) {
    .background-shapes__4ae3fd3b0e6506c0f1bb9c8046ba291a {
        height: 265px;
        transform: translate(-288px, -8px);
        width: 826px;
    }
}

@media only screen and (min-width:1024px) {
    .background-shapes__4ae3fd3b0e6506c0f1bb9c8046ba291a {
        grid-area: middleleft;
        height: 361px;
        transform: translate(-348px, 132px);
        width: 1000px;
    }
}

.background-shapes__3d8cc968b808ace512cf416cd0e3e148 {
    display: none;
    grid-area: topleft;
}

@media only screen and (min-width:600px) {
    .background-shapes__3d8cc968b808ace512cf416cd0e3e148 {
        display: block;
        height: 293px;
        transform: translate(-160px, 29px);
        width: 293px;
    }
}

@media only screen and (min-width:1024px) {
    .background-shapes__3d8cc968b808ace512cf416cd0e3e148 {
        height: 413px;
        transform: translate(-290px, 10px);
        width: 413px;
    }
}

@media only screen and (min-width:1440px) {
    .background-shapes__3d8cc968b808ace512cf416cd0e3e148 {
        transform: translate(-300px, 17px);
    }
}

.background-shapes__65afc2c42340caa47768aafe1fa99b86 {
    border-color: #d7effe;
    grid-area: topright;
    transform: translate(-480px, 0);
    height: 343px;
    width: 590px;
}

@media only screen and (min-width:600px) {
    .background-shapes__65afc2c42340caa47768aafe1fa99b86 {
        border-width: 20px;
        grid-area: topleft;
        transform: translate(-420px, 0);
        height: 600px;
        width: 1100px;
    }
}

@media only screen and (min-width:1024px) {
    .background-shapes__65afc2c42340caa47768aafe1fa99b86 {
        transform: translate(-530px, 0);
    }
}

@media only screen and (min-width:1280px) {
    .background-shapes__65afc2c42340caa47768aafe1fa99b86 {
        transform: translate(-380px, 0);
    }
}

@media only screen and (min-width:1440px) {
    .background-shapes__65afc2c42340caa47768aafe1fa99b86 {
        transform: translate(-290px, 0);
    }
}

@media only screen and (min-width:1800px) {
    .background-shapes__65afc2c42340caa47768aafe1fa99b86 {
        transform: translate(-110px, 0);
    }
}

@media only screen and (min-width:2500px) {
    .background-shapes__65afc2c42340caa47768aafe1fa99b86 {
        transform: translate(270px, 0);
    }
}

.background-shapes__6f796aa1d5a210405fd6fb0ed00073c8 {
    grid-area: topright;
    height: 448px;
    justify-self: flex-end;
    width: 842px;
}

@media only screen and (min-width:600px) {
    .background-shapes__6f796aa1d5a210405fd6fb0ed00073c8 {
        border-width: 20px;
        grid-area: topright;
        height: 671px;
        justify-self: flex-end;
        transform: translateX(-152px);
        width: 1200px;
    }
}

@media only screen and (min-width:1024px) {
    .background-shapes__6f796aa1d5a210405fd6fb0ed00073c8 {
        grid-area: topcenter;
        height: 854px;
        justify-self: flex-end;
        transform: translateX(-118px);
        width: 1600px;
    }
}

.background-shapes__9addf556019029a8876322ca09213480 {
    grid-area: topright;
    height: 448px;
    justify-self: flex-end;
    width: 842px;
}

@media only screen and (min-width:600px) {
    .background-shapes__9addf556019029a8876322ca09213480 {
        border-width: 20px;
        grid-area: topright;
        height: 671px;
        justify-self: flex-end;
        transform: translateX(-152px);
        width: 1200px;
    }
}

@media only screen and (min-width:1024px) {
    .background-shapes__9addf556019029a8876322ca09213480 {
        grid-area: topcenter;
        height: 854px;
        justify-self: flex-end;
        transform: translateX(-118px);
        width: 1600px;
    }
}