.bg-st1 {
	background-color: #d7effe;
	height: 180rem;
}
.bg-st2 {
	background-color: #eff7cf;
	height: 70rem;
}
.bg-st3 {
	position: relative;
	background-color: white;
	z-index: 1;
	height: 70rem;
}
.setSection {
	width: auto;
}

/* set font */
.is1 {
	font-weight: 500;
	margin-bottom: 16px;
	font-weight: 500;
	letter-spacing: -0.03125rem;
}
.is2 {
	font-weight: 1000;
	margin-bottom: 16px;
}

/* create shape */
.circle {
	height: 600px;
	width: 600px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	background-color: #3ddc84;
}
.bg-circle-content-11 {
	z-index: 2;
	top: 1600px;
	line-height: 3500px;
	font-family: "Montserrat", sans-serif;
	font-size: 1600px;
	opacity: 0.15;
	position: absolute;
}
.bg-shape {
	top: 0;
	left: -900px;
	height: 535px;
	/* transform: translate(-45%,14%); */
	width: 1500px;
	position: relative;
	border-style: solid;
	border-color: #f86734;
	border-radius: 500px;
	border-width: 20px;
}
.hightlight-android11 {
	letter-spacing: -0.125rem;
	left: 200px;
	top: 200px;
	position: absolute;
	font-size: 80px;
	font-weight: 500px;
	font-family: "Montserrat", sans-serif;
}

.hightlight-box {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	word-spacing: 9999rem;
	letter-spacing: -0.03125rem;
	overflow: hidden;
	padding: 20px;
	margin: 10px;
	position: relative;
	z-index: 10;
	width: 259px;
	height: 259px;
	border-radius: 10px;
	box-shadow: 4px 12px 47px 0 rgba(0, 0, 0, 0.1);
	background-color: white;
}

.topToend {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

/* font */
.font-topic {
	letter-spacing: -0.125rem;
	position: relative;
	font-size: 72px;
	font-weight: 500px;
	font-family: "Montserrat", sans-serif;
}
.font-sub {
	font-size: 1.2rem;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.01rem;
}
.font-sub-bold {
	font-size: 1.2rem;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.01rem;
}

/* section3 */
.pills-1 {
	top: 0px;
	background: #d7effe;
	border: 20px solid #d7effe;
	height: calc(100vw * 217 / 1440);
	max-height: 217px;
	max-width: 517px;
	width: calc(100vw * 517 / 1440);
	border-radius: 240px;
	position: absolute;
}

.pills-2 {
	top: 250px;
	border: 20px solid #d7effe;
	height: calc(100vw * 217 / 1440);
	max-height: 217px;
	max-width: 517px;
	width: calc(100vw * 517 / 1440);
	border-radius: 240px;
	position: absolute;
}

.pills-3 {
	top: 500px;
	border: 20px solid #d7effe;
	height: calc(100vw * 217 / 1440);
	max-height: 217px;
	max-width: 517px;
	width: calc(100vw * 517 / 1440);
	border-radius: 240px;
	position: absolute;
}

.align-to-right {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
