.bg-st1 {
    background-color: #d7effe;
}
.bg-st2 {
    background-color: #eff7cf;
}
.setSection {
    width: auto;
    height: 180rem;
}


/* set font */
.is1 {
    font-weight: 500;
    margin-bottom: 16px;
    font-weight: 500;
    letter-spacing: -0.03125rem;
}
.is2 {
    font-weight: 1000;
    margin-bottom: 16px;
}

/* create shape */
.circle {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    background-color: #3ddc84;
}
.bg-circle-content-11{
    z-index: 2;
    top:1600px;
    line-height:3500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1600px;
    opacity: 0.15;
    position: absolute;
    
}