.box1{
    margin: 9% 0% 0% 20%; 
    color: black;
    position: relative; 
    z-index: 10;
}
.hid{
    transform: translateY(120px);
    opacity: 0;
}
.part1{
    background-color: #f86734;
    width: 100%;
    height: 730px;
    overflow: hidden;
}
.part2{
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: white;
    z-index: 1;
    overflow: hidden;
}
.part3{
    margin-top: 5%;
}
.z2{
    z-index: 2;
}
.ir{
    padding-left: 25%;
}
@font-face{
    font-family: Android Euclid; 
    src: url(files/font/AndroidEuclid-Bold.otf);
}
h1{
    font-family: Android Euclid;
    display: block;
    font-size: 76px;
    line-height: 80px;
    font-weight: 700;
    z-index: 10;
}
p{  
    font-family: 'roboto';
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    z-index: 10;
}
.btn{
    font-family: Android Euclid;
    align-items: center;
    background-color: #073042;
    border-radius: 100px;
    color: #fff;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    line-height: 14px;
    padding: 12px 24px;
    margin-top: 3%;
    text-align: center;
    text-transform: uppercase;
    transition: color .2s linear;
}
.btn:hover{
    color:#3ddc84;
}
.img1{
    width: 200px;
    transform: translate(-460px, 500px) rotate(45deg);
    z-index: 1;
}
.img2{
    width: 200px;
    transform: translate(760px, 440px) rotate(315deg);
    z-index: 1;
}
.img3{
    width: 200px;
    transform: translate(440px, 670px) rotate(315deg);
    z-index: 1;
}
.img4{
    width: 200px;
    transform: translate(-450px, 490px) rotate(45deg);
    z-index: 1;
}
.android11_img{
    width: 550px;
    float: right;
}

.txb{
    width: 70%;
}
.imgb{
    float: right;
    justify-content: right;
    justify-items: right;
    z-index: -2;
}
.svg1{
    position: absolute;
    display: flex;
    z-index: 0;
}
.svg2{
    position: absolute;
    display: flex;
    z-index: 0;
}
h6{
    font-family: Android Euclid;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
h3{
    font-family: Android Euclid;
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
}
.box2{
    margin-left: 5%;
}
.learn{
    font-family: Android Euclid;
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
h3.card-text{
    font-size: 52px;
}
.mt-25{
    margin-top: 30%;
}
p.rl{
    margin-left: 10%;
    width: 50%;
}
.dhov{
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    margin: 1.5%;
    padding: 5% 3%;
    box-shadow: 4px 20px 47px 0 rgba(0,0,0,0.1);;
}
h3.dh{
    font-size: 52px;
    line-height: 56px;
    font-weight: 700;
}
.pa{
    transform: translate(130px, -137px) rotate(315deg);
}
.read-l{

}

