.bg-st1 {
    background-color: #d7effe;
}

.bg-st2 {
    background-color: #eff7cf;
}

.setSection {
    width: auto;
    height: 180rem;
}

.container-fluid {
    margin: 0px;
}

.topmain {
    display: inline;
}

.is-copy-m {
    width: 400px;
}

.content-resizable__copy-wrapper {
    position: relative;
    left: 17rem;
}

.scrollable-eyebrow__copy {
    position: relative;
    left: 5.5rem;
    top: -9.5rem;
}

.scrollable-eyebrow__heading {
    width: 500px;
    position: relative;
    left: 33rem;
    top: -14rem;
}

.security {
    position: relative;
    left: 13.5rem;
}

.carousel__copy {
    position: relative;
    left: -12rem;
    top: -3.2rem;
}

.moving-text {
    font-size: 26rem;
    font-weight: 750;
}

.secur {
    color: #D7EFFE;
}

.wellbe {
    color: #EFF7CF;
}

.is-header {
    font-weight: 800;
    font-size: 4.2rem;
}

.infor {
    font-size: 1rem;
    display: inline;
    width: 420px;
    position: relative;
    left: 17rem;
    top: 9rem;
}

.sercurity-sc {
    position: relative;
    left: -20rem;
    color: red;
}

.error-but {
    position: relative;
    top: -42px;
}


/* set font */

.is-1 {
    font-weight: 1000;
    margin-bottom: 16px;
    font-weight: 500;
    letter-spacing: -0.03125rem;
}

.diagonal-content__copy-wrapper {
    position: relative;
    left: 27.5rem;
}

.photo-box {
    width: 500px;
    height: 450px;
    overflow: hidden;
}

.is-2 {
    font-weight: 800;
}

.head-image {
    position: relative;
    left: 65rem;
    top: -7rem;
    opacity: 0;
}

.text {
    position: relative;
    top: 18rem;
    left: 28rem;
    opacity: 0;
}

.icon--svg {
    border: 1px solid #e7ebec;
    border-radius: 50%;
    height: 27px;
    margin-left: 8px;
    padding: 8px;
    pointer-events: none;
    width: 27px
}

.is-copy {
    left: 10rem;
}

.scrollable-eyebrow__wrapper {
    position: relative;
    top: -13rem;
}

.scrollable-eyebrow__body {
    width: 350px;
    position: relative;
    left: 39.5rem;
    top: 6rem;
}

.is-4 {
    display: inline;
    width: 480px;
    font-size: 4.2rem;
}

.arc-read {
    display: inline;
    width: 400px;
    font-size: 2.5rem;
    font-weight: 800;
}

.content-resizable__content-wrapper,
.content-slideshow__copy,
.carousel-slider,
.carousel__masthead,
.content-resizable__heading {
    position: relative;
    left: 8rem;
}

.is-2 {
    display: inline-block;
    width: 450px;
    font-size: 4.2rem;
}

.text-box {
    width: 600px;
    height: fit-content;
}

.arc-font {
    font-size: 1rem;
}

.second {
    top: 2rem;
    position: relative;
}


/* create shape */

.circle {
    height: 750px;
    width: 750px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    background-color: #4285f4;
    z-index: -1;
    transform: translate(-1000px, -1500px);
}

@font-face {
    font-family: Android Euclid;
    src: url(//test/AndroidEuclid-Bold.otf);
}

.carousel-slider__front-panel {
    width: 400px;
    height: auto;
}

body {
    font: "Android Euclid";
}

.card-img {
    width: 400px;
    height: auto;
}

.box {
    height: 700px;
    width: 55%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    background-color: #3ddc84;
    z-index: -1;
}

.bg-circle-content-11 {
    z-index: 2;
    top: 1600px;
    line-height: 3500px;
    font-family: "Montserrat", sans-serif;
    font-size: 1600px;
    opacity: 0.15;
    position: absolute;
}

.bg-shape {
    top: 0;
    left: -900px;
    height: 535px;
    /* transform: translate(-45%,14%); */
    width: 1500px;
    position: relative;
    border-style: solid;
    border-color: #f86734;
    border-radius: 500px;
    border-width: 20px;
}

.hightlight-android11 {
    letter-spacing: -0.125rem;
    left: 200px;
    top: 200px;
    position: absolute;
    font-size: 80px;
    font-weight: 500px;
    font-family: "Montserrat", sans-serif;
}

.hightlight-box {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    word-spacing: 9999rem;
    letter-spacing: -0.03125rem;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    position: relative;
    z-index: 10;
    width: 259px;
    height: 259px;
    border-radius: 10px;
    box-shadow: 4px 12px 47px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.topToend {
    height: 100%;
    display: flex;
    align-items: flex-end;
}