@font-face {
    font-family: Android Euclid;
    src: url(../../fonts/AndroidEuclid-Bold.otf);
}

@font-face {
    font-family: Android Euclid Med;
    src: url(../../fonts/AndroidEuclid-Medium.otf);
}

button {
    outline: none;
}

.all {
    font-family: Android Euclid;
    opacity: 0;
    overflow-x: hidden;
}

.bold {
    font-family: Android Euclid;
}

.med {
    font-family: Android Euclid Med;
}

.svg-button {
    position: relative;
    width: 20px;
    height: 20px;
    left: 10rem;
    top: -1.5rem;
}

.aro-box {
    width: 10px;
    height: 10px;
}

.flip {
    transform: rotate(180deg);
}


/* section 1 */

.first-sec-box {
    width: 50%;
    opacity: 0;
    height: 55rem;
    background-color: #3ddc84;
    z-index: 0;
}

.first-text-box {
    position: relative;
    top: 18rem;
    width: 700px;
    font-weight: 700;
}

.transf {
    transform: translateY(30rem);
}

.top-img {
    z-index: 3;
    position: relative;
    left: 83.5rem;
    top: -10rem;
    opacity: 0;
}

.what-is {
    position: relative;
    top: 14.5rem;
    font-size: 20px;
    font-weight: 500;
    width: 700px;
}

.first-sec-circle {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #4285f4;
    z-index: 2;
    position: relative;
    top: -28.5rem;
    left: -3.5rem;
    z-index: 1;
}


/* section 2 */

.sec-two {
    transform: translateY(-12rem);
}


/* section 3 */

.erre {
    transform: translateY(-6rem);
}


/* section control */

.control-error {
    position: relative;
    top: 4rem;
}


/* section security */

.sec-error {
    position: relative;
    top: -10rem;
}

.move-se {
    position: relative;
    top: -12rem;
}

.secur-move {
    position: relative;
    top: -10rem;
    left: 70.5rem;
}


/* section control */

.move-control {
    z-index: -2;
    left: 22.7rem;
    top: 2rem;
    position: relative;
}


/* section wellbeing */

.more-well {
    position: relative;
    top: -12rem;
}

.fam-pho {
    position: relative;
    left: 45rem;
    z-index: 1;
}

.photo-box {
    width: 450px;
    height: 400px;
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
    position: relative;
    top: -7.5rem;
    left: 27rem;
    -webkit-box-shadow: 6px 10px 15px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 6px 10px 15px 0px rgba(50, 50, 50, 0.56);
    box-shadow: 6px 10px 15px 0px rgba(50, 50, 50, 0.56);
}

.error {
    position: relative;
    top: -8rem;
}

.fam-text {
    position: relative;
    left: 60rem;
    top: -13.5rem;
}

.learn-button {
    border: none;
    background-color: white;
}

.move-balance {
    position: relative;
    left: 59.6rem;
    top: -13rem;
}

.learn-arrow {
    position: relative;
    left: 6rem;
    top: -1.7rem;
}

.learn-arrow1 {
    position: relative;
    left: 1rem;
    top: 4rem;
}


/* section always pushing */

.info-card {
    width: 520px;
    height: 665px;
    border: none;
    margin-right: 20px;
}

.card-warpper {
    display: flex;
    position: relative;
    width: 5000px;
    height: 1000px;
    position: relative;
    left: 22.5rem;
}

.card-text {
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    height: 300px;
}

.card-imgg {
    width: 520px;
    height: auto;
}


/* stay control sectino */

.warpper-trans {
    position: relative;
}


/* section techno */

.era {
    position: relative;
    top: -60rem;
    transform: translateX(-3rem);
}

.era-bot {
    position: relative;
    top: -15rem;
}


/* last section */

.error-last {
    position: relative;
    top: -35rem;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    width: 430px;
    left: 27rem;
}

.head-last {
    position: relative;
    top: -37rem;
    font-weight: 400;
    font-size: 16px;
    width: 430px;
    left: 27rem;
}

.info-last {
    position: relative;
    top: -32rem;
    font-weight: 400;
    font-size: 16px;
    width: 430px;
    left: 27rem;
}

.bot-img {
    position: relative;
    width: 1100px;
    left: -17.5rem;
    top: 27.5rem;
}

.bot-circle {
    height: 720px;
    width: 800px;
    border-radius: 50%;
    background-color: #3ddc84;
    position: relative;
    top: -23rem;
}

.bot-box {
    width: 1260px;
    height: 730px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #4285f4;
    transform: translateX(319px);
    overflow: hidden;
}

.last-but {
    position: relative;
    left: 27rem;
    top: -30rem;
}


/* adjustment */

.info-text {
    width: 400px;
    font-family: Android Euclid Med;
}

.left-text {
    position: relative;
    left: 23rem;
}

.right-text {
    position: relative;
    left: 70.7rem;
}

.text {
    z-index: 3;
}

.big-font {
    font-size: 88px;
    line-height: 88px;
    width: 650px;
}

section {
    margin-bottom: 10rem;
}

.back-font {
    font-size: 25rem;
    opacity: 0.5;
    position: relative;
    left: 20rem;
}

.med-len {
    font-size: 88px;
    line-height: 88px;
    width: 550px;
}

.see-button {
    width: 100px;
    height: 50px;
    border-radius: 120px;
    background-color: black;
    color: white;
}

.nav-bar {
    width: 63%;
    height: 5px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    left: 23rem;
    top: -20rem;
    background-color: #DCDCDC;
    opacity: 0.2;
    z-index: 1;
    opacity: 1;
}

.card-text-info {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.read-more-svg {
    width: 15px;
    height: 15px;
    position: relative;
    left: 7rem;
    top: -1.75rem;
}

.read-less-svg {
    width: 15px;
    height: 15px;
    position: relative;
    left: 7rem;
    top: -1.75rem;
}

#less {
    transform: rotate(180deg);
}

.less {
    position: relative;
    top: -18rem;
    opacity: 0;
}

.more {
    opacity: 1;
}

.head-text-info {
    font-size: 28px;
}

.bg-wave {
    z-index: 10;
    opacity: 0;
    top: -1000px;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    border: 3px solid #3ddc84;
    position: absolute;
}

.first-nav {
    width: 25%;
    height: 5px;
    background-color: black;
    z-index: 2;
}

.warp-cicle {
    position: relative;
    left: -10rem;
}

.warp-button {
    position: relative;
    top: -50rem;
}

body {
    background-color: black;
}

.move1 {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    position: relative;
    left: 86.5rem;
    top: -18rem;
}

.move {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    position: relative;
    left: 86.5rem;
    top: -18rem;
}

button {
    outline: none;
}

.vbar1 {
    transform: translate(-260px, -126.5px) rotate(180deg);
}

.narv-img {
    width: 550px;
    height: 550px;
    margin-right: 28%;
}

.narv-box {
    height: fit-content;
    float: left;
    top: -5rem;
    left: 40rem;
    margin-right: 500px;
}

.warpper-box {
    display: flex;
    position: relative;
    width: 5000px;
    height: 1000px;
    position: relative;
    left: 40rem;
    top: -10rem;
}

.img-text {
    width: 400px;
    height: 150px;
    background-color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 35rem;
    left: 20rem;
    box-shadow: 10px 9px 19px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}

.moving-box-text {
    font-size: 2rem;
    position: relative;
    top: 2.5rem;
    left: 2rem;
}

.button1 {
    width: 100px;
    height: 15px;
    border: none;
    background-color: white;
    font-size: 1.5rem;
    position: relative;
    left: 21.3rem;
    top: 30rem;
}

.read-more1 {
    width: 120px;
    height: 50px;
    border: none;
    background-color: white;
    position: relative;
    font-size: 18px;
}

.read-more {
    width: 100px;
    height: 20px;
    border: none;
    background-color: white;
    position: relative;
}

#secur {
    color: #4285f4;
}

#wellbe {
    color: #eff7cf;
}

.sec-nav {
    width: 85%;
    height: 5px;
    background-color: black;
    z-index: 2;
}

.thir-nav {
    width: 85%;
    height: 5px;
    background-color: black;
    z-index: 2;
}